---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agregar nueva tarea">
    <section>
        <form action="" class="form">
            <label for="">Titulo de la tarea</label>
            <input type="text">

            <label for="">Descripcion</label>
            <textarea name="" id=""></textarea>

            <input type="submit" name="" id="">
        </form>
    </section>
</Layout>